<div class="players-panel-overlay" [class.show]="isOpen" (click)="closePanel()">
  <div class="players-panel" [class.open]="isOpen" (click)="$event.stopPropagation()">
    <div class="panel-header">
      <h3>Players for {{ formation?.nameFormation }}</h3>
      <div class="panel-actions"  >
        <button class="assign-btn" (click)="assignPlayer(formation?.idFormation)"   [ngClass]="formation?.joueurs?.length === 11 ? 'red' : 'green'"  [disabled]="formation?.joueurs?.length === 11">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon">
            <path d="M12 5v14M5 12h14"></path>
          </svg>
          Assign Player
        </button>
        <button class="close-btn" (click)="closePanel()">×</button>
      </div>
    </div>
    
    <div class="panel-content">
      <div class="players-list" *ngIf="formation?.joueurs && formation.joueurs.length > 0">
        <div class="player-item" *ngFor="let player of formation.joueurs">
          <div class="player-icon">
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
              <circle cx="12" cy="7" r="4"></circle>
            </svg>
          </div>
          <div class="player-name">
              <span>{{ player.numeroJoueur }} - {{ player.nameUsers }}  {{player.prenomUser}}</span>
          </div>
          <div class="player-poste">
              <span>{{ player.posteJoueur }}</span>
          </div>

          <div class="player-phone">
              <span>{{ player.telephoneUser }} </span>
          </div>
          <div class="player-mail">
              <span>{{ player.emailUser }}</span>
          </div>
        </div>
      </div>
      <div class="no-players" *ngIf="!formation?.joueurs || formation.joueurs.length === 0">
        <p>No players found for this formation.</p>
      </div>
    </div>
  </div>
</div>



  <!-- Composant Assign Players affiché dynamiquement -->
  <div class="assign-container" [class.show]="isAssignOpen">
    <span class="close-btn-ass" (click)="closeAssignPanel()">X</span>

    <app-assign-players-formation (close)="closeAssignPanel()"></app-assign-players-formation>
  </div>
