<body>
    <header>
        <h2>Bienvenue chez Dr. Nom</h2>
        <p>Votre santé, notre priorité</p>
    </header>
    <img src="assets/images/d1.jpg" alt="Image non chargée">

    <section class="presentation">
        <img src="assets/images/doctors.jpg" alt="Photo du Dr. Nom">
        <div class="bio">
            <h2>À propos de moi</h2>
            <p>Je suis le Dr. [Nom], spécialiste en [Domaine médical].
                 Fort d’une expérience de plusieurs années, 
                 je suis dédié(e) à offrir des soins de qualité à mes patients.</p>
        </div>
    </section>   
   

    

   
</body>

