<p>updatesous-group works!</p>
{{idSousGroup}}
<div class="container">
  <h2>Mettre à jour le Sous-Groupe</h2>

  <form [formGroup]="sousGroupForm" (ngSubmit)="updateSousGroup()">
    <div class="form-group">
      <label>Nom du Sous-Groupe</label>
      <input type="text" class="form-control" formControlName="nameSousGroup">
      <div *ngIf="nameSousGroup?.invalid && nameSousGroup?.touched" class="text-danger">
        Nom requis (min 3 caractères).
      </div>
    </div>

    <div class="form-group">
      <label>Nombre de Joueurs</label>
      <input type="number" class="form-control" formControlName="nbrJoueurSousGroup">
      <div *ngIf="nbrJoueurSousGroup?.invalid && nbrJoueurSousGroup?.touched" class="text-danger">
        Entre 1 et 50 joueurs.
      </div>
    </div>

    <button type="submit" class="btn btn-primary" (click)="updateSousGroup()" [disabled]="sousGroupForm.invalid">Mettre à jour</button>
    <button type="button" class="btn btn-secondary" routerLink="/ShowSousGroups">Annuler</button>
  </form>

  
</div>
