 <!-- Header Section Begin -->
 <header class="header-section">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="ht-info">
                        <ul>
                            <li>20:00 - janv 25, 2025</li>
                            <li><a href="#">Sign in</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ht-links">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-vimeo"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header__nav">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <!-- <div class="logo">
                        <a href="./index.html"><img src="img/logo.png" alt=""></a>
                    </div> -->
                </div>
                <div class="col-lg-10">
                    <div class="nav-menu">
                        <ul class="main-menu">
                            <li class="active"><a routerLink="Homedoctors"routerLinkActive="active">Home</a></li>
                            <li><a routerLink="fichePlayer" routerLinkActive="active">Fiche Medical  </a></li>
                            <li><a routerLink="listefiche"routerLinkActive="active">liste  fiche Medical  </a></li>
                            <!-- <li><a  routerLink="updateexercice" routerLinkActive="active">Results</a></li> -->



                            <li><a routerLink="creationexerciceRetab" routerLinkActive="active">Exercice Sport</a></li>
                            <li><a routerLink="listeExercicedeRetablissement"routerLinkActive="active">List Exercice</a>
                                <!-- <ul class="dropdown">
                                    <li><a href="./blog.html">Blog</a></li>
                                    <li><a href="./blog-details.html">Blog Details</a></li>
                                    <li><a href="#">Schedule</a></li>
                                    <li><a href="#">Results</a></li>
                                </ul> -->
                            </li>
                            
                            <li class="active"><a class="active" routerLink="Fichedoctors"routerLinkActive="active">FICHE</a></li>
                            <!-- <li> <aa class="active" routerLink="Fichedoctors"routerLinkActive="active"></aa>FICHE</li> -->

                        </ul>
                        <div class="nm-right search-switch">
                            <i class="fa fa-search"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="canvas-open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </div>
</header>
<!-- Header End -->