<hr>
<div class="add-container">
  <button class="close-btn" (click)="avoidAdd()">✖</button>
  <h2>Add A Formation</h2>

  <form [formGroup]="formationForm" (ngSubmit)="addFormation()" class="form-card">
    
    <div class="form-group">
      <label>Formation Name</label>
      <select formControlName="nameFormation">
        <option value="" disabled selected>Choose a format</option>
        <option *ngFor="let option of formationOptions" [value]="option">
          {{ option }}
        </option>
      </select>
      <div *ngIf="formationForm.get('nameFormation')?.invalid && formationForm.get('nameFormation')?.touched" class="error-message">
        <span *ngIf="formationForm.get('nameFormation')?.errors?.['required']">Selection required.</span>
        <span *ngIf="formationForm.get('nameFormation')?.errors?.['minlength']">Minimum 3 characters.</span>
        <span *ngIf="formationForm.get('nameFormation')?.errors?.['pattern']">Must start with a letter.</span>
      </div>
      <span *ngIf="formationForm.get('nameFormation')?.valid" class="valid-message">✅</span>
    </div>
    
    <div class="form-group">
      <label>Formation Description</label>
      <input type="text" formControlName="descriptionFormation">
      <div *ngIf="formationForm.get('descriptionFormation')?.invalid && formationForm.get('descriptionFormation')?.touched" class="error-message">
        <span *ngIf="formationForm.get('descriptionFormation')?.errors?.['required']">Description required.</span>
        <span *ngIf="formationForm.get('descriptionFormation')?.errors?.['minlength']">Minimum 10 characters.</span>
        <span *ngIf="formationForm.get('descriptionFormation')?.errors?.['pattern']">Must start with a letter.</span>
      </div>
      <span *ngIf="formationForm.get('descriptionFormation')?.valid" class="valid-message">✅</span>
    </div>
    

    <div class="btn-group">
      <button type="submit" class="btn btn-primary" [disabled]="formationForm.invalid">
        <i class="fas fa-plus-circle"></i> Add
      </button>
      <button type="reset" class="btn btn-secondary"> <i class="fas fa-undo"></i> Reset</button>
    </div>
  </form>

  <div *ngIf="successMessage" class="alert alert-success mt-3 fade-in">
    {{ successMessage }}
  </div>
  <div *ngIf="errorMessage" class="alert alert-danger mt-3 fade-in">
    {{ errorMessage }}
  </div>
</div>
