<p>addformation works!</p>
<div class="container">
    <h2>Ajouter un Formation</h2>
    
    <form [formGroup]="formationForm" (ngSubmit)="addFormation()">
      <div class="form-group">
        <label>Nom du Formation</label>
        <input type="text" class="form-control" formControlName="nameFormation">
        <div *ngIf="formationForm.get('nameFormation')?.invalid && formationForm.get('nameFormation')?.touched" class="text-danger">
          Nom requis (min 3 caractères).
        </div>
      </div>
  
      <div class="form-group">
        <label>description de formation</label>
        <input type="text" class="form-control" formControlName="descriptionFormation">
        <div *ngIf="formationForm.get('descriptionFormation')?.invalid && formationForm.get('descriptionFormation')?.touched" class="text-danger">
            description requis
        </div>
      </div>
  
      <button type="submit" class="btn btn-primary" [disabled]="formationForm.invalid">Ajouter</button>
      <button type="reset" class="btn btn-secondary" >Reset</button>
    </form>
  
    <div *ngIf="successMessage" class="alert alert-success mt-3">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
  </div>