<p>add-joueur works!</p>

<div class="container">
  <h2>Ajouter un Joueur</h2>

  <form [formGroup]="joueurForm" (ngSubmit)="addJoueur()">
    <div class="form-group">
      <label for="numeroJoueur">Numéro de Joueur</label>
      <input type="text" id="numeroJoueur" class="form-control" formControlName="numeroJoueur">
      <div *ngIf="joueurForm.get('numeroJoueur')?.invalid && joueurForm.get('numeroJoueur')?.touched" class="text-danger">
        Le numéro de joueur est requis (doit être un nombre).
      </div>
    </div>

    <div class="form-group">
      <label for="posteJoueur">Poste du Joueur</label>
      <input type="text" id="posteJoueur" class="form-control" formControlName="posteJoueur">
      <div *ngIf="joueurForm.get('posteJoueur')?.invalid && joueurForm.get('posteJoueur')?.touched" class="text-danger">
        Le poste du joueur est requis (min 3 caractères).
      </div>
    </div>

    <div class="form-group">
      <label for="debutContratJoueur">Début du Contrat</label>
      <input type="date" id="debutContratJoueur" class="form-control" formControlName="debutContratJoueur">
      <div *ngIf="joueurForm.get('debutContratJoueur')?.invalid && joueurForm.get('debutContratJoueur')?.touched" class="text-danger">
        La date de début du contrat est requise.
      </div>
    </div>

    <div class="form-group">
      <label for="finContratJoueur">Fin du Contrat</label>
      <input type="date" id="finContratJoueur" class="form-control" formControlName="finContratJoueur">
      <div *ngIf="joueurForm.get('finContratJoueur')?.invalid && joueurForm.get('finContratJoueur')?.touched" class="text-danger">
        La date de fin du contrat est requise.
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="joueurForm.invalid">Ajouter le Joueur</button>
  </form>
</div>

