<div class="container mt-4">
  <h2 class="table-title">Liste des Exercices de Rétablissement</h2>
  <button class="btn btn-primary mb-3" (click)="goToCreatePage()">ADD Exercise </button>

  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <!-- <th>ID</th> -->
        <th>Nom</th>
        <th>Description</th>
        <th>Durée (min)</th>
        <th>Niveau</th>
        <th>Actions</th> <!-- Nouvelle colonne pour les actions -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let exercice of exercices">
        <!-- <td>{{ exercice.idExerciceRetablissement }}</td> -->
        <td >{{ exercice.nomExerciceRetablissement }}</td>
        <td >{{ exercice.descriptionExerciceRetablissement}}</td>
        <td>{{ exercice.dureeExercice ? exercice.dureeExercice : 'Non spécifié' }}</td>
        <td>{{ exercice.niveauDifficulte ? exercice.niveauDifficulte : 'Non spécifié' }}</td>
        <td>
            <!-- Bouton de mise à jour -->
           
            <button class="btn btn-warning m-2" [routerLink]="['/doctor/updateexercice', exercice.idExerciceRetablissement]">
              UPDATE
            </button>
          <!-- Bouton de suppression -->
          <button class="btn btn-danger mr-4" (click)="supprimerExercice(exercice)"> DELETE</button>
        
        </td>
      </tr>
    </tbody>
  </table>
</div>
