<div class="card">
  <div class="card-body">
    <h4 class="card-title">List of Tournaments</h4>
    
    <div class="table-responsive pt-3">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tournoi of tournois">
            <td>{{ tournoi.idTournoi }}</td>
            <td>{{ tournoi.nameTournoi }}</td>
            <td>{{ tournoi.debutTournoi | date:'dd/MM/yyyy' }}</td>
            <td>{{ tournoi.finTournoi | date:'dd/MM/yyyy' }}</td>
            <td>
              <label class="badge badge-danger" (click)="deleteTournoi(tournoi.idTournoi)">Delete</label>
              <label class="badge badge-success" [routerLink]="['update', tournoi.idTournoi]">Edit</label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div style="margin-top: 20px;">
  <button [routerLink]="['addtournoi']" class="btn btn-primary">
    Add Tournament
  </button>
</div>

<router-outlet></router-outlet>
