<div class="add-rapport-container">
    <h2>Add New Report</h2>
  
    <form [formGroup]="rapportForm" (ngSubmit)="addRapport()">
      <!-- Performance Metrics -->
      <div class="form-section">
        <h3>Performance Metrics</h3>
        <div class="form-group">
          <label for="speedRapport">Speed:</label>
          <input type="number" id="speedRapport" formControlName="speedRapport" required>
          <div *ngIf="rapportForm.get('speedRapport')?.invalid && (rapportForm.get('speedRapport')?.dirty || rapportForm.get('speedRapport')?.touched)" class="error-message">
            Speed is required.
          </div>
        </div>
  
        <div class="form-group">
          <label for="accelerationRapport">Acceleration:</label>
          <input type="number" id="accelerationRapport" formControlName="accelerationRapport" required>
          <div *ngIf="rapportForm.get('accelerationRapport')?.invalid && (rapportForm.get('accelerationRapport')?.dirty || rapportForm.get('accelerationRapport')?.touched)" class="error-message">
            Acceleration is required.
          </div>
        </div>
  
        <div class="form-group">
          <label for="endurance">Endurance:</label>
          <input type="number" id="endurance" formControlName="endurance" required>
          <div *ngIf="rapportForm.get('endurance')?.invalid && (rapportForm.get('endurance')?.dirty || rapportForm.get('endurance')?.touched)" class="error-message">
            Endurance is required.
          </div>
        </div>
  
        <div class="form-group">
          <label for="muscularEndurance">Muscular Endurance:</label>
          <input type="number" id="muscularEndurance" formControlName="muscularEndurance" required>
          <div *ngIf="rapportForm.get('muscularEndurance')?.invalid && (rapportForm.get('muscularEndurance')?.dirty || rapportForm.get('muscularEndurance')?.touched)" class="error-message">
            Muscular Endurance is required.
          </div>
        </div>
  
        <div class="form-group">
          <label for="aerobicCapacity">Aerobic Capacity:</label>
          <input type="number" id="aerobicCapacity" formControlName="aerobicCapacity" required>
          <div *ngIf="rapportForm.get('aerobicCapacity')?.invalid && (rapportForm.get('aerobicCapacity')?.dirty || rapportForm.get('aerobicCapacity')?.touched)" class="error-message">
            Aerobic Capacity is required.
          </div>
        </div>
  
         <div class="form-group">
          <label for="anaerobicCapacity">Anaerobic Capacity:</label>
          <input type="number" id="anaerobicCapacity" formControlName="anaerobicCapacity" required>
          <div *ngIf="rapportForm.get('anaerobicCapacity')?.invalid && (rapportForm.get('anaerobicCapacity')?.dirty || rapportForm.get('anaerobicCapacity')?.touched)" class="error-message">
            Anaerobic Capacity is required.
          </div>
        </div>
  
      </div>
  
      <!-- Strength and Power -->
      <div class="form-section">
        <h3>Strength and Power</h3>
        <div class="form-group">
          <label for="strength">Strength:</label>
          <input type="number" id="strength" formControlName="strength" required>
          <div *ngIf="rapportForm.get('strength')?.invalid && (rapportForm.get('strength')?.dirty || rapportForm.get('strength')?.touched)" class="error-message">
            Strength is required.
          </div>
        </div>
  
        <div class="form-group">
          <label for="power">Power:</label>
          <input type="number" id="power" formControlName="power" required>
          <div *ngIf="rapportForm.get('power')?.invalid && (rapportForm.get('power')?.dirty || rapportForm.get('power')?.touched)" class="error-message">
            Power is required.
          </div>
        </div>
  
         <div class="form-group">
          <label for="explosiveness">Explosiveness:</label>
          <input type="number" id="explosiveness" formControlName="explosiveness" required>
          <div *ngIf="rapportForm.get('explosiveness')?.invalid && (rapportForm.get('explosiveness')?.dirty || rapportForm.get('explosiveness')?.touched)" class="error-message">
            Explosiveness is required.
          </div>
        </div>
  
        <div class="form-group">
          <label for="verticalJump">Vertical Jump:</label>
          <input type="number" id="verticalJump" formControlName="verticalJump" required>
          <div *ngIf="rapportForm.get('verticalJump')?.invalid && (rapportForm.get('verticalJump')?.dirty || rapportForm.get('verticalJump')?.touched)" class="error-message">
            Vertical Jump is required.
          </div>
        </div>
  
        <div class="form-group">
          <label for="horizontalJump">Horizontal Jump:</label>
          <input type="number" id="horizontalJump" formControlName="horizontalJump" required>
          <div *ngIf="rapportForm.get('horizontalJump')?.invalid && (rapportForm.get('horizontalJump')?.dirty || rapportForm.get('horizontalJump')?.touched)" class="error-message">
            Horizontal Jump is required.
          </div>
        </div>
      </div>
  
      <!-- Agility, Balance, Coordination, Reaction Time, Reactivity -->
      <div class="form-section">
        <h3>Agility and Coordination</h3>
  
        <div class="form-group">
          <label for="agility">Agility:</label>
          <input type="number" id="agility" formControlName="agility" required>
          <div *ngIf="rapportForm.get('agility')?.invalid && (rapportForm.get('agility')?.dirty || rapportForm.get('agility')?.touched)" class="error-message">
            Agility is required.
          </div>
        </div>
  
        <div class="form-group">
          <label for="balance">Balance:</label>
          <input type="number" id="balance" formControlName="balance" required>
          <div *ngIf="rapportForm.get('balance')?.invalid && (rapportForm.get('balance')?.dirty || rapportForm.get('balance')?.touched)" class="error-message">
            Balance is required.
          </div>
        </div>
  
        <div class="form-group">
          <label for="coordination">Coordination:</label>
          <input type="number" id="coordination" formControlName="coordination" required>
          <div *ngIf="rapportForm.get('coordination')?.invalid && (rapportForm.get('coordination')?.dirty || rapportForm.get('coordination')?.touched)" class="error-message">
            Coordination is required.
          </div>
        </div>
  
        <div class="form-group">
          <label for="reactionTime">Reaction Time:</label>
          <input type="number" id="reactionTime" formControlName="reactionTime" required>
          <div *ngIf="rapportForm.get('reactionTime')?.invalid && (rapportForm.get('reactionTime')?.dirty || rapportForm.get('reactionTime')?.touched)" class="error-message">
            Reaction Time is required.
          </div>
        </div>
  
        <div class="form-group">
          <label for="reactivity">Reactivity:</label>
          <input type="number" id="reactivity" formControlName="reactivity" required>
          <div *ngIf="rapportForm.get('reactivity')?.invalid && (rapportForm.get('reactivity')?.dirty || rapportForm.get('reactivity')?.touched)" class="error-message">
            Reactivity is required.
          </div>
        </div>
  
      </div>
  
      <!-- State and Injury -->
      <div class="form-section">
        <h3>State and Injury</h3>
  
        <div class="form-group">
          <label for="etatRapport">State:</label>
          <input type="text" id="etatRapport" formControlName="etatRapport" required>
          <div *ngIf="rapportForm.get('etatRapport')?.invalid && (rapportForm.get('etatRapport')?.dirty || rapportForm.get('etatRapport')?.touched)" class="error-message">
            State is required.
          </div>
        </div>
  
        <div class="form-group">
          <label for="blessureRapport">Injury:</label>
          <input type="text" id="blessureRapport" formControlName="blessureRapport" required>
          <div *ngIf="rapportForm.get('blessureRapport')?.invalid && (rapportForm.get('blessureRapport')?.dirty || rapportForm.get('blessureRapport')?.touched)" class="error-message">
            Injury is required.
          </div>
        </div>
      </div>
  
  
      <button type="submit" [disabled]="rapportForm.invalid" class="btn-submit">Add Report</button>
    </form>
  
    <div *ngIf="successMessage" class="success-message">
      {{ successMessage }}
    </div>
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </div>