<!-- <p>home-str works!</p> -->


<div class="home-container">
  <section class="create-room-section">
      <h2>Create a new live stream</h2>
      <form [formGroup]="createRoomForm" (ngSubmit)="createRoom()">
          <div class="form-group">
              <label for="roomName">Stream name</label>
              <input type="text" id="roomName" formControlName="roomName" placeholder="Entrez un nom pour votre stream">
              <div *ngIf="createRoomForm.get('roomName')?.invalid && createRoomForm.get('roomName')?.touched" class="error-message">
                  <span *ngIf="createRoomForm.get('roomName')?.errors?.['required']">Name is required</span>
                  <span *ngIf="createRoomForm.get('roomName')?.errors?.['minlength']">The name must contain at least 3 characters</span>
              </div>
          </div>
          <button type="submit" [disabled]="createRoomForm.invalid">Start a new live</button>
      </form>
  </section>

  <section class="active-rooms-section">
      <h2>Active live streams</h2>
      <div *ngIf="rooms.length === 0" class="no-rooms-message">
        No active live streams at the moment
      </div>
      <div class="rooms-list">
          <div *ngFor="let room of rooms" class="room-card">
              <h3>{{ room.name }}</h3>
              <p>Created on: {{ room.createdAt | date:'medium' }}</p>
              <button (click)="joinRoom(room.id)">Join</button>
          </div>
      </div>
  </section>
</div>


