<div class="modal-overlay" (click)="closeModal()" *ngIf="isModalOpen"></div>

<div class="modal-container" *ngIf="isModalOpen">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <span class="close-button" (click)="closeModal()">&times;</span>
    <h2>Update the Exercise: <strong>{{ exerciceform.get('nameExercice')?.value }}</strong></h2>

    <form [formGroup]="exerciceform" (ngSubmit)="updateExercice()" class="form-card">

      <!-- <div class="form-group">
        <label>ID de l'Exercice</label>
        <input type="text" formControlName="idExercice" readonly>
      </div> -->

      <div class="form-group">
        <label>Exercise Name</label>
        <input type="text" formControlName="nameExercice">
        <div *ngIf="nameExercice?.invalid && nameExercice?.touched" class="error-message">
          Name required (minimum 3 characters).
        </div>
      </div>

      <div class="form-group">
        <label>Description</label>
        <textarea formControlName="descriptionExercice"></textarea>
        <div *ngIf="descriptionExercice?.invalid && descriptionExercice?.touched" class="error-message">
          Description required.
        </div>
      </div>

      <div class="form-group">
        <label>Exercise Video</label>
        <input type="text" formControlName="videoExercice">
        <div *ngIf="videoExercice?.invalid && videoExercice?.touched" class="error-message">
          URL of the required video.
        </div>
      </div>

      <!-- <div class="form-group">
        <label>Photo de l'Exercice</label>
        <input type="text" formControlName="photoExercice">
        <div *ngIf="photoExercice?.invalid && photoExercice?.touched" class="error-message">
          URL de la photo requise.
        </div>
      </div> -->

      <div class="btn-group">
        <button type="submit" class="btn btn-primary" [disabled]="exerciceform.invalid">
          ✏️ Update
        </button>
        <button type="button" class="btn btn-secondary" (click)="goToShowExercices()">
          ❌ Cancel
        </button>
      </div>
    </form>
  </div>
</div>
