<div class="dashboard-container">
    <h1>Bienvenue sur le Dashboard 📊</h1>
  
    <div class="stats">
      <div class="card">
        <h2>📚 Documents</h2>
        <p>50 documents enregistrés</p>
        <a routerLink="/admin/documents">Voir plus</a>
      </div>
      <div class="card">
        <h2>👤 Utilisateurs</h2>
        <p>10 utilisateurs actifs</p>
        <a routerLink="/admin/gestion-utilisateurs">Gérer</a>
      </div>
      <div class="card">
        <h2>⚽ Sport</h2>
        <p>Derniers résultats disponibles</p>
        <a routerLink="/admin/football">Voir</a>
      </div>
      <div class="card">
        <h2>📊 Statistiques</h2>
        <p>Analyse des performances</p>
        <a routerLink="/admin/statistiques">Explorer</a>
      </div>
    </div>
  </div>
  
