
<!-- Bouton Ajouter un formation -->
<div class="add-btn-container">
  <button [routerLink]="['addformation']" class="btn-add">
    Ajouter une formation
  </button>
</div>

<h2>Liste des Formations</h2>

<div class="card-container">
  <div class="card" *ngFor="let f of formation">
    <h3>{{ f.nameFormation }}</h3>
    <p>{{ f.descriptionFormation }}</p>
    <div class="card-actions">
      <button (click)="deleteFormation(f.idFormation)" class="btn-delete">
        Supprimer
      </button>
      <button class="btn-update" [routerLink]="['updateformation', f.idFormation]">
        Modifier
      </button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
