<p>formation-coach works!</p>


<!-- Bouton Ajouter un formation -->
<div style="margin-bottom: 20px;">
    <button [routerLink]="['addformation']" class="btn-add">
      Ajouter un formation
    </button>
  </div>


<h2>Liste des Formations</h2>
<table border="1" style="width: 100%; text-align: left; border-collapse: collapse;">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom du Formation</th>
        <th>descriptionFormation</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let f of formation">
        <td>{{ f.idFormation }}</td>
        <td>{{ f.nameFormation }}</td>
        <td>{{ f.descriptionFormation }}</td>
         <td>
          <button (click)="deleteFormation(f.idFormation)" class="btn-delete">
            Supprimer
          </button>
         <button class="btn btn-success m-3" [routerLink]="['updateformation', f.idFormation]">
            Update
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  



  <router-outlet></router-outlet>

















<!-- 
<body>
    <div class="container">
        <h2>Ajouter une Formation</h2>
        <form action="#" method="POST">
            <div class="form-group">
                <label for="titre">Titre de la formation</label>
                <input type="text" id="titre" name="titre" required>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea id="description" name="description" rows="4" required></textarea>
            </div>
            <div class="form-group">
                <label for="date">Date de début</label>
                <input type="date" id="date" name="date" required>
            </div>
            <div class="form-group">
                <label for="duree">Durée (en jours)</label>
                <input type="number" id="duree" name="duree" min="1" required>
            </div>
            <div class="form-group">
                <button type="submit">Ajouter</button>
            </div>
        </form>
    </div>
</body> -->