/* Style du bouton Ajouter un Sous-Groupe */
.btn-add {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .btn-add:hover {
    background-color: #45a049;
  }
  
  /* Style du bouton Supprimer */
  .btn-delete {
    background-color: red;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
  }
  
  .btn-delete:hover {
    background-color: darkred;
  }
  
  /* Style du bouton Mettre à jour */
  .btn-update {
    background-color: #007bff;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    font-size: 14px;
  }
  
  .btn-update:hover {
    background-color: #0056b3;
  }
  