<hr>

<div class="form-container">
  <button class="close-btn" (click)="avoidAdd()">
    ✖
  </button>
  
  <div class="form-group">
    <label for="nom">Tactic Name:</label>
    <input 
      type="text" 
      id="nom" 
      name="nom" 
      placeholder="Enter the Tactic Name" 
      [(ngModel)]="nameTactic"
      required
      minlength="3"
      #nameInput="ngModel">
    <!-- <p class="description">Please enter the name of the tactic (minimum 3 characters).</p> -->
    <div *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)" class="error-message">
      <div *ngIf="nameInput.errors?.['required']">Tactic name is required.</div>
      <div *ngIf="nameInput.errors?.['minlength']">Tactic name must be at least 3 characters long.</div>
    </div>
  </div>
  
  <div class="form-group">
    <label for="description">Description:</label>
    <textarea 
      id="description" 
      name="description" 
      rows="2" 
      placeholder="Enter a description" 
      [(ngModel)]="descriptionTactic"
      required
      minlength="10"
      #descInput="ngModel"></textarea>
    <!-- <p class="description">Please enter a detailed description (minimum 10 characters).</p> -->
    <div *ngIf="descInput.invalid && (descInput.dirty || descInput.touched)" class="error-message">
      <div *ngIf="descInput.errors?.['required']">Description is required.</div>
      <div *ngIf="descInput.errors?.['minlength']">Description must be at least 10 characters long.</div>
    </div>
  </div>



  <div class="form-group">
    <label for="formation">Select a Formation:</label>
    <select id="formation" name="formation" [(ngModel)]="selectedFormationId" (change)="onFormationChange()" required  >
      <option value="" disabled selected>-- Choose a Formation --</option>

      <option *ngFor="let formation of listformationCompatible" [value]="formation.idFormation">
        {{ formation.nameFormation }}
      </option>
    </select>
  </div>



</div>
  
  <div class="Butt-DA" [hidden]="!isTacticVisible()">
    
      <!-- Bouton pour démarrer et arrêter l'enregistrement -->
      <div class="controls">
        <button (click)="startRecording()" [disabled]="isRecording"><i class="icon">▶️</i> Start Recording</button>
        <button (click)="stopRecording()" [disabled]="!isRecording"><i class="icon">⏸️</i> Stop Recording</button>
      </div>
      <div class="point-enregis" *ngIf="isRecording">
        🔴
      </div>
  
      <button style="background-color: rgb(234, 255, 0); color: black;" (click)="confirmDelete()"> {{ isVideoVisible ? '❌ hidden' : '🎥' }}</button>
  
      <div *ngIf="isVideoVisible">
        <video #videoPlayer controls ></video>
      </div>
      
  
  <!-- Bouton de sauvegarde de la tactique -->
  <button class="save-tactic" (click)="saveTactic()" [disabled]="isRecording">Save Tactic</button>
  
  <div *ngIf="successMessage" class="alert alert-success mt-3">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>

  <div class="container" >
      <!-- Menu latéral gauche -->
    
      <div class="menu">
        <!-- <h3>Joueurs</h3> -->
        <div class="menu-grid">
          <div class="menu-item player red" (click)="onMenuItemClick('j1')">
            <img src="assets/images/j1.png" alt="Joueur Rouge" width="75px" height="60px" />
          </div>
          <div class="menu-item player red" (click)="onMenuItemClick('j5')">
            <img src="assets/images/j5.png" alt="Joueur Rouge" width="75px" height="60px" />
          </div>
          <div class="menu-item player blue" (click)="onMenuItemClick('h1')">
            <img src="assets/images/h1.png" alt="Joueur Bleu" width="75px" height="60px" />
          </div>
          <div class="menu-item player blue" (click)="onMenuItemClick('h2')">
            <img src="assets/images/h2.png" alt="Joueur Bleu" width="75px" height="60px" />
          </div>
          <div class="menu-item cone" (click)="onMenuItemClick('c1')">
            <img src="assets/images/c1.png" alt="Cône" width="75px" height="60px" />
          </div>
          <div class="menu-item cone" (click)="onMenuItemClick('c2')">
            <img src="assets/images/c2.png" alt="Cône" width="75px" height="60px" />
          </div>
          <div class="menu-item obstacle" (click)="onMenuItemClick('j4')">
            <img src="assets/images/j4.png" alt="Obstacle" width="75px" height="60px" />
          </div>
          <div class="menu-item obstacle" (click)="onMenuItemClick('f1')">
            <img src="assets/images/f1.png" alt="Obstacle" width="75px" height="60px" />
          </div>
  
          <div class="menu-item text" (click)="onMenuItemClick('text')">
            <img src="assets/images/Texte.png" alt="Texte" width="75px" height="60px" />
        </div>
        
        </div>
      </div>
      
   
      
        <!-- Le terrain est affiché ici -->
        <div  class="canvas-container"  #canvasContainer   (click)="onCanvasClick($event)" >
        </div>
  
    
    
        <div class="ball-menu">
            <h3>Ballons</h3>
    
            <div class="menu-item ball" (click)="onMenuItemClick('fl1')">
                <img src="assets/images/fl1.png" alt="Ballon" width="75px" height="60px" />
            </div>
    
            <div  class="menu-item arrow"  (click)="onMenuItemClick('b2')" >
                <img src="assets/images/b2.png" alt="Flèche" width="75px" height="60px" />
            </div>
        </div>
    
    </div>
    
    
    <div class="containerdessous">
    
        <div class="ball-menu-dessous">
            <h3>Ballons</h3>
            <div class="menu-itemss">
    
              <div class="menu-item ball" (click)="onMenuItemClick('fl1')">
                  <img src="assets/images/fl1.png" alt="Ballon" width="75px" height="60px" />
              </div>
    
              <div class="menu-item arrow" (click)="onMenuItemClick('b2')">
                  <img src="assets/images/b2.png" alt="Flèche" width="75px" height="60px" />
              </div>
            </div>
        </div>
        
    </div>
    
  </div>