

<div class="container">
  
  <h2  class="form-header">Add a Medical Record</h2>

  <form [formGroup]="ficheMedicalForm" (ngSubmit)="addFicheMedicale()" class="custom-form">

    <!-- Poids -->
    <div class="form-group">
      <label for="poids">Weight (kg)</label>
      <input type="number" id="poids" class="form-control" formControlName="poidsFicheMedicale" placeholder="Entrez le poids" required>
      <div *ngIf="ficheMedicalForm.get('poidsFicheMedicale')?.invalid && ficheMedicalForm.get('poidsFicheMedicale')?.touched" class="text-danger">
        Weight required (must be greater than 0).
      </div>
    </div>

    <!-- Taille -->
    <div class="form-group">
      <label for="taille">Height (cm)</label>
      <input type="number" id="taille" class="form-control" formControlName="tailleFicheMedicale" placeholder="Entrez la taille" required>
      <div *ngIf="ficheMedicalForm.get('tailleFicheMedicale')?.invalid && ficheMedicalForm.get('tailleFicheMedicale')?.touched" class="text-danger">
        Height required (must be greater than 0).
      </div>
    </div>

    <!-- Date de Blessure -->
    <div class="form-group">
      <label for="dateBlessure">Injury Date</label>
      <input type="date" id="dateBlessure" class="form-control" formControlName="dateBlessure" required>
      <div *ngIf="ficheMedicalForm.get('dateBlessure')?.invalid && ficheMedicalForm.get('dateBlessure')?.touched" class="text-danger">
        Date required.
      </div>
    </div>

    <!-- Gravité -->
    <div class="form-group">
      <label for="gravite">Severity</label>
      <select id="gravite" class="form-control" formControlName="gravite" required>
        <option value="" disabled selected>Choose severity</option>
        <option value="Non blessé">Not Injured</option>
        <option value="Légère">Mild</option>
        <option value="Modérée">Moderate</option>
        <option value="Sévère">Severe</option>
      </select>
    </div>


    <div class="form-group">
      <label for="typeBlessure">Injury Type</label>
      <input type="text" id="typeBlessure" class="form-control" formControlName="type" placeholder="Entrez le type de blessure" required>
      <div *ngIf="ficheMedicalForm.get('type')?.invalid && ficheMedicalForm.get('type')?.touched" class="text-danger">
        This field is required.
      </div>
    </div>

    <!-- <div class="form-group">
      <label for="type">Type de blessure</label>
      <div class="input-group">
        <input type="text" id="type" formControlName="type" class="form-control">
        <button type="button" class="btn btn-outline-secondary" (click)="startVoiceInput()">🎤</button>
      </div>
    </div> -->

    <!-- Sélection du joueur -->
    <div class="form-group">
      <label for="joueur">Player</label>
      <select formControlName="joueurId" required>
        <option value="" disabled selected>Select a player</option>
        <option *ngFor="let player of players" [value]="player.idUser">{{ player.nameUsers }}  {{ player.prenomUser }}</option>
      </select>
    </div>
 <!-- Sélection du exerciceretablissement  -->
 <div class="form-group">
  <label for="joueur">Exercice retablissement</label>
  <select formControlName="idExerciceRetablissement" required>
    <option value="" disabled selected>Select a Exercice</option>
    <option *ngFor="let exerciceretablissement of exercice" [value]="exerciceretablissement.idExerciceRetablissement">{{ exerciceretablissement.nomExerciceRetablissement }}  {{ exerciceretablissement.descriptionExerciceRetablissement}}</option>
  </select>
</div>
<div>
  
</div>
    <!-- Boutons -->
     
    <button type="submit" class="btn btn-primary mt-3"  [disabled]="ficheMedicalForm.invalid"  > Save</button>
    <button type="button" class="btn btn-secondary mt-3" [routerLink]="'/doctor/listefiche'">Cancel</button>

  </form>

  <!-- Messages de succès et d'erreur -->
  <div *ngIf="successMessage" class="alert alert-success mt-3"  >{{ successMessage }}</div>
  <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
</div>
