<form [formGroup]="consultationForm" (ngSubmit)="onSubmit()">
    <label>Joueur</label>
    <select formControlName="joueurId">
      <option *ngFor="let joueur of joueurs" [value]="joueur.idUser">
        {{ joueur.nameUsers }}
      </option>
    </select>
  
    <label>Date de consultation</label>
    <input type="datetime-local" formControlName="dateConsultation" />
  
    <label>Description</label>
    <textarea formControlName="description"></textarea>
  
    <button type="submit" [disabled]="consultationForm.invalid">Ajouter</button>
  </form>
  